html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;   
  touch-action: none;
  background: #000000;
}
canvas {
  display: block;
}

.Buttons {
  font-family: Quicksand;
  background: rgb(92,92,92);
  color: white;
  
  border-radius: 5px;
  outline-color: white;
  border: none;
  outline: none;
  box-shadow: none

  
  
  
}
.Buttons:hover {
  background-color: rgb(192,192,192);
}

.Buttons:active {
  background-color: #FF9800;
}

.preview {
  font-family: Quicksand;
  background-color: rgba(var(--r), var(--g), var(--b));
  color: white;
  
  border-radius: 100px;
  outline-color: white;
  border: none;
  outline: none;
  box-shadow: none
    
}



.slide {
  -webkit-appearance: none;
  appearance: none;
  width: 200px;
  background: transparent;
  
 
}

/* Track */
.slide::-webkit-slider-runnable-track {
  height: 20px;
  background: #44444496;
  border-radius: 3px;
}

/* Thumb */
.slide::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background: white;
  border-radius: 20%;
  margin-top: 0px;
  
  
  
  
}


.slide::-moz-range-track {
  height: 6px;
  background: #444;
}

.slide::-moz-range-thumb {
  height: 14px;
  width: 14px;
  background: white;
  border: none;
  border-radius: 50%;
}


